@charset "UTF-8";
@media screen and (min-width: 1025px) { #containter { width: 100%; height: auto; }
  section { width: 100%; height: auto; float: left; }
  section > article { width: 100%; height: 620px; padding: 80px 0; }
  section > article > div { width: 960px; height: 100%; margin: 0 auto; }
  section > #article01Wrap { background-image: url(../img/section/mainbg.JPG); background-repeat: no-repeat; background-position: center 78%; background-size: 120%; background-color: #336171; }
  section > #article02Wrap { background-image: url(../img/pattern_b.jpg); }
  section > #article03Wrap { background-image: url(../img/pattern_w.jpg); }
  section > #article04Wrap { background-color: #fff; }
  .subject { width: 100%; font-size: 2rem; font-weight: bold; line-height: 2rem; color: #333; letter-spacing: -0.125rem; text-align: center; display: block; }
  .bar { width: 50px; height: 3px; background-color: #c5c5c5; margin: 28px calc(50% - 25px); display: block; }
  /* 창덕궁 */
  #article01 { width: 100%; overflow: hidden; position: relative; }
  #article01 > span { width: 100%; position: absolute; top: 40%; z-index: 100; text-align: center; font-size: 1.2rem; letter-spacing: 0.3125rem; color: #fff; }
  #article01 > span > em { width: 100%; font-size: 5.625rem; color: #fff; }
  /* 창덕궁소개 */
  #article02 { width: 960px; overflow: hidden; }
  #article02 > div { height: calc(100% - 64px); float: left; padding: 2rem 0; position: relative; }
  #article02 > .art02_left { width: 60%; background-image: url(../img/section/img.png); background-position: center center; background-repeat: no-repeat; background-size: auto calc(100% - 64px); }
  #article02 > .art02_left > span { padding: 2px 10px; color: #f4f4f2; position: absolute; z-index: 100; left: 0; bottom: 2rem; background-color: rgba(0, 0, 0, 0.8); display: block; font: normal 0.875rem 'nanumGothic'; line-height: 1.875rem; text-align: center; }
  #article02 .art02_right { width: 40%; }
  #article02 .art02_right > .art02_right_inbox { width: calc(100% - 80px); height: calc(100% - 80px); background-color: #fff; padding: 40px; }
  #article02 .art02_right > .art02_right_inbox > .text { width: 100%; height: 80%; font-size: 0.875rem; line-height: 1.5rem; overflow-y: scroll; text-indent: 0.25rem; padding-right: 50%; }
  /* 찾아오시는 길 */
  #article03 { height: calc(100% - 2rem); padding: 0 2rem; }
  #article03 > .subject { margin-top: 2rem; }
  #article03 > .map { width: 100%; height: 320px; margin-bottom: 20px; border: 1px solid #c5c5c5; }
  #article03 > .map_info { width: 660px; margin: 0 160px; }
  #article03 > .map_info > li { width: 100%; float: left; line-height: 1.25rem; }
  #article03 > .map_info > .info_icon { margin-right: 10px; color: #666; font-size: 1rem; }
  #article03 > .map_info > .info_txt { margin-right: 50%; margin-bottom: 10px; }
  #article03 > .map_info > .info_etc { font-size: 0.875rem; margin-top: 10px; }
  /* 관람 시간 및 요금 */
  #article04 { height: calc(100% - 2rem); }
  #article04:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > .subject { margin-top: 2rem; }
  #article04 > dl { width: 100%; text-indent: 10px; text-align: center; border-top: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; box-sizing: border-box; }
  #article04 > dl dt, #article04 > dl dd { height: 2rem; box-sizing: border-box; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left; line-height: 2rem; }
  #article04 > dl > dt { background-color: #336171; color: #f4f4f2; }
  #article04 > dl > dd { background-color: #f4f4f2; color: #333; }
  #article04 > .timetable { height: 131px; margin-bottom: 20px; }
  #article04 > .timetable > dt, #article04 > .timetable dd { width: 33.3333%; }
  #article04 > .price { height: 131px; margin-bottom: 30px; }
  #article04 > .price > dt { width: 30%; }
  #article04 > .price > dd { width: 70%; text-align: left; text-indent: 1.25rem; }
  #article04 .art04_btn_more { width: 130px; height: 34px; background-color: #933637; text-align: center; line-height: 2.125rem; float: right; cursor: pointer; color: #f4f4f2; }
  #article04 .art04_btn_more > i { color: #f4f4f2; font-size: 1.25rem; line-height: 2.125rem; margin-left: 10px; } }
@media screen and (min-width: 769px) and (max-width: 1024px) { #side_button { display: none; }
  #containter { width: 100%; height: auto; }
  section { width: 100%; height: auto; float: left; }
  section > article { width: 100%; height: 620px; padding: 80px 0; }
  section > article > div { width: 93.75vw; height: 100%; margin: 0 auto; }
  section > #article01Wrap { background-color: #336171; background-image: url(../img/section/mainbg.JPG); background-repeat: no-repeat; background-position: center; background-size: 140%; height: 60.546875vw; /* 620px * 100 / 1024 */ }
  section > #article02Wrap { background-image: url(../img/pattern_b.jpg); }
  section > #article03Wrap { background-image: url(../img/pattern_w.jpg); height: auto; }
  section > #article04Wrap { background-color: #fff; height: auto; }
  .subject { width: 100%; font-size: 2rem; font-weight: bold; line-height: 2rem; color: #333; letter-spacing: -0.125rem; text-align: center; display: block; }
  .bar { width: 50px; height: 3px; background-color: #c5c5c5; margin: 28px calc(50% - 25px); display: block; }
  /* 창덕궁 */
  #article01 { width: 100%; overflow: hidden; position: relative; }
  #article01 > span { width: 100%; position: absolute; top: 40%; z-index: 100; text-align: center; font-size: 1.2rem; letter-spacing: 0.3125rem; color: #fff; }
  #article01 > span > em { width: 100%; font-size: 8.78906vw; color: #fff; }
  /* 창덕궁소개 */
  #article02 { width: 93.75vw; overflow: hidden; }
  #article02 > div { height: calc(100% - 64px); float: left; padding: 2rem 0; position: relative; }
  #article02 > .art02_left { width: 60%; background-image: url(../img/section/img.png); background-position: center center; background-repeat: no-repeat; background-size: auto calc(100% - 64px); }
  #article02 > .art02_left > span { padding: 2px 10px; color: #f4f4f2; position: absolute; z-index: 100; left: 0; bottom: 2rem; background-color: rgba(0, 0, 0, 0.8); display: block; font: normal 0.875rem 'nanumGothic'; line-height: 1.875rem; text-align: center; }
  #article02 .art02_right { width: 40%; }
  #article02 .art02_right > .art02_right_inbox { width: calc(100% - 80px); height: calc(100% - 80px); background-color: #fff; padding: 40px; }
  #article02 .art02_right > .art02_right_inbox > .text { width: 100%; height: 80%; font-size: 0.9rem; line-height: 1.4rem; overflow-y: scroll; text-indent: 0.25rem; padding-right: 50%; }
  /* 찾아오시는 길 */
  #article03 { width: 93.75vw; height: calc(100% - 2rem); }
  #article03:after { content: ""; display: block; clear: both; width: 0; height: 0; }
  #article03 > .subject { margin-top: 2rem; }
  #article03 > .map { width: 93.75vw; height: 320px; margin-bottom: 20px; border: 1px solid #c5c5c5; }
  #article03 > .map_info { width: 64.45312vw; height: auto; margin: 0 15.625vw; }
  #article03 > .map_info > li { width: 100%; float: left; line-height: 1.25rem; }
  #article03 > .map_info > .info_icon { margin-right: 10px; color: #666; font-size: 1rem; }
  #article03 > .map_info > .info_txt { margin-right: 50%; margin-bottom: 10px; }
  #article03 > .map_info > .info_etc { font-size: 0.875rem; margin-top: 10px; }
  /* 관람 시간 및 요금 */
  #article04 { height: calc(100% - 2rem); }
  #article04:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > .subject { margin-top: 2rem; }
  #article04 > dl { width: 100%; text-indent: 10px; text-align: center; border-top: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; box-sizing: border-box; }
  #article04 > dl > dt, #article04 > dl dd { height: 2rem; box-sizing: border-box; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left; line-height: 2rem; }
  #article04 > dl > dt { background-color: #336171; color: #f4f4f2; }
  #article04 > dl > dd { background-color: #f4f4f2; color: #333; }
  #article04 > .timetable { height: 131px; margin-bottom: 20px; }
  #article04 > .timetable > dt { width: calc(100% / 3); }
  #article04 > .timetable > dd { width: calc(100% / 3); }
  #article04 > .price { height: 131px; margin-bottom: 30px; }
  #article04 > .price > dt { width: 30%; }
  #article04 > .price > dd { width: 70%; text-align: left; text-indent: 1.25rem; }
  #article04 .art04_btn_more { width: 130px; height: 2.125rem; background-color: #933637; text-align: center; line-height: 2.125rem; float: right; cursor: pointer; color: #f4f4f2; }
  #article04 .art04_btn_more > i { color: #f4f4f2; font-size: 1.25rem; line-height: 2.125rem; margin-left: 10px; } }
@media screen and (min-width: 481px) and (max-width: 768px) { #side_button { display: none; }
  #containter { width: 100%; height: auto; }
  section { width: 100%; height: auto; float: left; }
  section > article { width: 100%; height: 620px; padding: 60px 0; }
  section > article > div { width: 93.75vw; height: 100%; margin: 0 auto; }
  section > #article01Wrap { background-color: #336171; background-image: url(../img/section/mainbg.JPG); background-repeat: no-repeat; background-position: center; background-size: 160%; height: 80.72916vw; /* 620px * 100 / 768 */ }
  section > #article02Wrap { background-image: url(../img/pattern_b.jpg); height: auto; }
  section > #article03Wrap { background-image: url(../img/pattern_w.jpg); height: auto; }
  section > #article04Wrap { background-color: #fff; height: auto; }
  .subject { width: 100%; font-size: 2rem; font-weight: bold; line-height: 2rem; color: #333; letter-spacing: -0.125rem; text-align: center; display: block; }
  .bar { width: 50px; height: 3px; background-color: #c5c5c5; margin: 28px calc(50% - 25px); display: block; }
  /* 창덕궁 */
  #article01 { width: 100%; overflow: hidden; position: relative; }
  #article01 > span { width: 100%; position: absolute; top: 40%; z-index: 100; text-align: center; font-size: 1.2rem; letter-spacing: 0.3125rem; color: #fff; }
  #article01 > span > em { width: 100%; font-size: 5rem; color: #fff; }
  /* 창덕궁소개 */
  #article02 { width: 93.75vw; overflow: hidden; }
  #article02 > div { height: 100%; position: relative; }
  #article02 > .art02_left { display: none; }
  #article02 .art02_right { width: 100%; height: 100%; background-image: url(../img/section/img.png); background-position: center center; background-repeat: no-repeat; }
  #article02 .art02_right > .art02_right_inbox { width: calc(100% - 80px); height: calc(100% - 80px); padding: 40px; background-color: rgba(255, 255, 255, 0.93); }
  #article02 .art02_right > .art02_right_inbox > .text { width: 100%; height: 80%; font-size: 1rem; line-height: 1.75rem; overflow-y: scroll; text-indent: 0.25rem; padding-right: 50%; }
  /* 찾아오시는 길 */
  #article03 { width: 93.75vw; height: calc(100% - 32px); }
  #article03:after { content: ""; display: block; clear: both; width: 0; height: 0; }
  #article03 > .map { width: 93.75vw; height: 320px; margin-bottom: 20px; border: 1px solid #c5c5c5; }
  #article03 > .map_info { width: 90%; height: auto; margin-left: 5%; }
  #article03 > .map_info > li { width: 100%; float: left; line-height: 1.25rem; }
  #article03 > .map_info > .info_icon { margin-right: 10px; color: #666; font-size: 1rem; }
  #article03 > .map_info > .info_txt { margin-right: 50%; margin-bottom: 10px; }
  #article03 > .map_info > .info_etc { font-size: 0.875rem; margin-top: 10px; }
  /* 관람 시간 및 요금 */
  #article04 { height: calc(100% - 32px); }
  #article04:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > .subject { margin-top: 2rem; }
  #article04 > dl { width: 100%; text-align: center; border-top: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; box-sizing: border-box; height: auto; }
  #article04 > dl:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > dl > dt, #article04 > dl dd { height: 2.5rem; box-sizing: border-box; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left; line-height: 2.5rem; font-size: 2.2vmin; }
  #article04 > dl > dt { background-color: #336171; color: #f4f4f2; }
  #article04 > dl > dd { background-color: #f4f4f2; color: #333; }
  #article04 > .timetable { margin-bottom: 20px; }
  #article04 > .timetable > dt { width: calc(100% / 3); }
  #article04 > .timetable > dd { width: calc(100% / 3); }
  #article04 > .price { margin-bottom: 30px; }
  #article04 > .price > dt { width: 30%; }
  #article04 > .price > dd { width: 70%; text-align: left; text-indent: 1rem; }
  #article04 .art04_btn_more { width: 130px; height: 2.125rem; background-color: #933637; text-align: center; line-height: 2.125rem; float: right; cursor: pointer; color: #f4f4f2; }
  #article04 .art04_btn_more > i { color: #f4f4f2; font-size: 1.25rem; line-height: 2.125rem; margin-left: 10px; } }
/*tablet*/
@media screen and (max-width: 480px) { #side_button { display: none; }
  #containter { width: 100%; height: auto; }
  section { width: 100%; height: auto; float: left; }
  section > article { width: 100%; height: 620px; padding: 60px 0; }
  section > article > div { width: 93.75vw; height: 100%; margin: 0 auto; }
  section > #article01Wrap { background-color: #336171; background-image: url(../img/section/mainbg.JPG); background-repeat: no-repeat; background-position: center; background-size: 200%; height: 83.3333vw; /* 400px * 100 / 480 */ }
  section > #article02Wrap { background-image: url(../img/pattern_b.jpg); height: auto; }
  section > #article03Wrap { background-image: url(../img/pattern_w.jpg); height: auto; }
  section > #article04Wrap { background-color: #fff; height: auto; }
  .subject { width: 100%; font-size: 2.125rem; font-weight: bold; line-height: 2.125rem; color: #333; letter-spacing: -0.125rem; text-align: center; display: block; }
  .bar { width: 50px; height: 3px; background-color: #c5c5c5; margin: 28px calc(50% - 25px); display: block; }
  /* 창덕궁 */
  #article01 { width: 100%; overflow: hidden; position: relative; }
  #article01 > span { width: 100%; position: absolute; top: 40%; z-index: 100; text-align: center; font-size: 1.2rem; letter-spacing: 0.1875rem; color: #fff; }
  #article01 > span > em { width: 100%; font-size: 4rem; color: #fff; }
  /* 창덕궁소개 */
  #article02 { width: 93.75vw; overflow: hidden; }
  #article02 > div { height: 100%; position: relative; }
  #article02 > .art02_left { display: none; }
  #article02 .art02_right { width: 100%; height: 100%; background-image: url(../img/section/img.png); background-position: center center; background-repeat: no-repeat; background-size: auto 100%; }
  #article02 .art02_right > .art02_right_inbox { width: calc(100% - 80px); height: calc(100% - 80px); padding: 40px; background-color: rgba(255, 255, 255, 0.93); }
  #article02 .art02_right > .art02_right_inbox > .text { width: 100%; height: 80%; font-size: 1rem; line-height: 1.5rem; overflow-y: scroll; text-indent: 0.25rem; padding-right: 50%; }
  /* 찾아오시는 길 */
  #article03 { width: 100%; }
  #article03:after { content: ""; display: block; clear: both; width: 0; height: 0; }
  #article03 > .subject { margin-top: 32px; }
  #article03 > .map { width: 100%; height: 320px; margin-bottom: 20px; border: 1px solid #c5c5c5; box-sizing: border-box; }
  #article03 > .map_info { width: 90%; height: auto; margin-left: 5%; }
  #article03 > .map_info > li { width: 100%; float: left; line-height: 1.25rem; }
  #article03 > .map_info > .info_icon { margin-right: 10px; color: #666; font-size: 1rem; }
  #article03 > .map_info > .info_txt { margin-right: 50%; margin-bottom: 10px; }
  #article03 > .map_info > .info_etc { font-size: 0.875rem; margin-top: 10px; }
  /* 관람 시간 및 요금 */
  #article04 { height: calc(100% - 32px); }
  #article04:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > .subject { margin-top: 2rem; }
  #article04 > dl { width: 100%; text-align: center; border-top: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; box-sizing: border-box; height: auto; }
  #article04 > dl > dt, #article04 > dl dd { height: 2.5rem; box-sizing: border-box; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left; line-height: 2.5rem; font-size: 3.3333vw; /*1rem*/ }
  #article04 > dl > dt { background-color: #336171; color: #f4f4f2; }
  #article04 > dl > dd { background-color: #f4f4f2; color: #333; }
  #article04 > dl:after { content: ""; clear: both; display: block; width: 0; height: 0; }
  #article04 > .timetable { margin-bottom: 20px; }
  #article04 > .timetable > dt { width: calc(100% / 3); }
  #article04 > .timetable > dd { width: calc(100% / 3); }
  #article04 > .price { margin-bottom: 30px; }
  #article04 > .price > dt { width: 100%; }
  #article04 > .price > dd { width: 100%; text-align: center; height: 4rem; line-height: 4rem; }
  #article04 .art04_btn_more { width: 100%; height: 2.5rem; background-color: #933637; text-align: center; line-height: 2.5rem; float: right; cursor: pointer; color: #f4f4f2; }
  #article04 .art04_btn_more > i { color: #f4f4f2; font-size: 1.25rem; line-height: 2.5rem; margin-left: 10px; } }
/*mobile*/
/* info.css */

/*# sourceMappingURL=index_section.css.map */
