/* index.css */

#containter{width: 100%; height: auto;}
header,footer{margin: 0 auto; width: 960px; height: 100%; background: rgba(255,255,255,0.6);}

/* header */

#headerWrap{width: 100%; height: 80px; background-color: #fff; position: fixed; z-index: 200;}
#header{width: 940px; height: 100%;padding: 0 10px;}
    h1{width: 182px; height: 100%; margin-right: 60px; float: left;}
        h1>a{background-image: url(../img/logo.jpg); background-position: center center;}
    #gnb {height: 100%; float: left;}
        #gnb>ul {width: 100%; height: 100%;}
        #gnb>ul>li {float: left; margin-right: 46px; margin-top: 29px;}
            #gnb>ul>li>a{font-size:1rem; font-weight: bold; padding-bottom: 29px;}
            #gnb>ul>li>a:hover{border-bottom: 3px solid #933637;}
            #gnb>ul>li:last-child{margin-right: 0;}
    #menu {height:100%; float: right; margin-right: 12px;}
    #menu>a{font-size: 1.625rem; color:#c5c5c5; line-height: 80px;}
    #menu>a:hover{color:#933637;}

/* section */

section{width: 100%; height: 2400px; background-color: #eee; padding-top: 80px;}
section>article{width: 100%; height: calc(100% / 4);}
section>article>div{width: 960px; height: 100%; margin: 0 auto;}
section>#article02Wrap{background-color: #335161;}
section>#article03Wrap{background-color: #f4f4f2;}
section>#article04Wrap{background-color: #fff;}

div>.subject{width: 100%; font-size: 2rem; font-weight: bold; line-height: 2rem; color: #333; letter-spacing: -0.125rem; text-align: center;display: block;}
div>.bar{width: 50px; height: 3px; background-color: #c5c5c5; margin: 24px calc(50% - 25px); display: block;}

/* 창덕궁 */
    #article01{width: 960px; overflow: hidden; position: relative;}
    #article01>span{width: 100%; position: absolute; top: 50%; z-index:100; text-align: center; font-color:#fff;}
    #article01>ul{width: 300%; height: 100%;}
    #article01>ul>li{width: 960px; height:100%; float: left;}
    #article01>ul>li:nth-child(1){background-color: #fad; margin-left:-100%;}
    #article01>ul>li:nth-child(2){background-color: #aad;}
    #article01>ul>li:nth-child(3){background-color: #ffd;}
    #article02{width: 960px; overflow: hidden; position: relative;}

/* 창덕궁소개 */
#article02{background-color: inherit;}
#article02>div {width: 50%; height: 100%; float: left;}
#article02>.art02_left {background-image: url(../img/section/img.png); background-position: center center;}
    #article02>.art02_right>.art02_right_inbox {width: calc(80% - 80px); height: calc(80% - 80px); background-color: #fff; margin-top: 10%; margin-left: 10%; padding: 40px;}
    #article02>.art02_right>.art02_right_inbox>.text {width: 100%; height: 296px; font-size: 0.875rem; line-height: 1.5rem; overflow-y: scroll; padding-right: 50%;}

/* 찾아오시는 길 */
#article03{background-color: inherit; height: calc(100% - 32px); padding: 0 32px;}
#article03>.subject{margin-top: 32px;}
#article03>.map{width: 860px; height: 300px; background-image: url(../img/section/map.png); margin: 0px 50px 16px;}
#article03>.map_info{width:660px; margin:0 160px;}
    #article03>.map_info>li{float: left; line-height:1.2rem;}
    #article03>.map_info>.info_icon{margin-right: 10px; color: #666; font-size: 1rem;}
    #article03>.map_info>.info_txt{margin-bottom: 10px;}
    #article03>.map_info>.info_etc {font-size:0.875rem; margin-top: 10px;}

/* 관람 시간 및 요금 */
#article04{background-color: inherit; height: calc(100% - 32px); padding: 0 32px;}
#article04>.subject{margin-top: 32px;}
#article04>.btn_box{width: 256px; height: 40px; margin-left: 370px; margin-bottom: 16px;}
    #article04>.btn_box>button {width: 108px; height: 40px; color: #333; line-height: 20px; background-image: url(../img/section/viewbtn.png); background-repeat: no-repeat; cursor: pointer; margin-right: 5px; float: left;}
    #article04>.btn_box>button:hover {color: #f4f4f2; background-image: url(../img/section/viewbtn_on.png);}
    #article04>.btn_box>button:active {color: #f4f4f2; background-image: url(../img/section/viewbtn_on.png);}
#article04>dl{width: 718px; margin: 10px; text-indent: 10px; text-align: center; line-height: 32px; margin-left: 120px;}
    #article04>dl>dt{height: 32px; background-color: #335161; color:#f4f4f2; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left;}
    #article04>dl>dd{height: 32px; background-color: #f4f4f2; color:#333; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; float: left;}
        #article04>.timetable>dt{width: 238px;}
        #article04>.timetable>dd{width: 238px;}
        #article04>dl>dd:last-child{margin-bottom: 20px;}
        #article04>.price>dt{width: 190px;}
        #article04>.price>dd{width: 525px;}
.art04_btn_more{width: 130px; height: 34px; background-color: #933637; text-align: center; line-height: 34px; float: right; margin-right:122px; cursor: pointer;}
.art04_btn_more>a{color:#f4f4f2;}

/* footer */

#footerWrap{width: 100%; height: 200px; background-color: #335161;}