/* --------------------- #xidoFootWrap ----------------------------- */
#xidoFootWrap{width: 100%; height: 120px; background-color: #595959; font-size: 0.8rem; }
#xidoFoot{width: 860px; height: calc(100% - 20px); margin: 0 auto; background-color: inherit; padding: 0 70px 20px 30px;}
    #xidoFoot>#footerLogo {width: 108px; height: 24px; margin: 40px 62px 0 0;  float: left; background-image: url(../img/all/footer/h2_logo.png); background-repeat: no-repeat; overflow: visible;}
    #xidoFoot>#footerLogo>strong {width: 0; height: 0; overflow: hidden; display: block;}
    #xidoFoot>#footerLogo>span {width: 100%; height: 16px; color:#ccc; font-size:0.75rem; letter-spacing: -0.06rem; word-spacing: -0.06rem; display: block; margin-top: 26px; overflow: visible;}
    #xidoFoot>#footerNav {width: 430px; height: calc(100% - 24px); margin: 24px 126px 0 0; float: left;}
        #xidoFoot>#footerNav>.footer_nav {float: left; width: 100%; margin-bottom: 6px;}
            #footerNav>.footer_nav>li {height: 14px; float: left; color:#fff; padding: 0 5px; border-right: 1px solid #fff; margin-top: 3px;}
            #footerNav>.footer_nav>li:first-child {padding-left: 0;}
            #footerNav>.footer_nav>li:last-child {padding-right: 0; border: none;}
            #footerNav>.footer_nav>li>a {color: #fff; margin-top: -3px;}
            .footer_add {float: left; height: 30px; margin-bottom: 10px; color:#ddd; line-height: 1.2rem; word-spacing: 2px;}
            .footer_copy {float: left; color:#ddd;}
    #xidoFoot>#footerRight {width: 134px; height: 100px; float: right; color:#ddd;}

/*family site*/

/* --------------------------------- 공식 지정방법 ------------------------------------- */
.etc{width:132px; height: 18px; float: left;  margin-right: 70px;}
.etc>form{width:100px; height: 18px; background-color: #ccc; float: right;}
.etc>form>fieldset{width: 100%; height: 100%;}
.etc>form>fieldset>select {width: 100%; height: 100%; text-indent: 10px; background-image: url(../img/all/footer/f_family_00.png); text-indent: -9999em;}
.etc>form>fieldset>select>option {text-indent: 10px; color: #fa0; display: block; background-color: #ff7;}
.etc>form>fieldset>button {width: 18px; height: 18px; float: left; display: block;}

/*             2. 디자인적 방법                   */
.etc>dl{width: 100%; height: 18px; margin-top: 10px; float: left;}
.etc>dl>dt{width: 100%; height: 100%; background-image: url(../img/all/footer/f_family_00.png); background-repeat: no-repeat;}
.etc>dl>dd{width: 100%; height: 0; margin-top: -105px; background-color: #ccc; overflow: hidden; transition: height 2s ease;}
.etc>dl>dd>ul{width: 100%; height: 100%;}
.etc>dl>dd>ul>li{width: 100%; height: 18px; text-indent: 10px;}
.etc>dl>dd>ul>li>a{line-height:18px;}
.etc>dl:hover>dd{height: 98px;}



/*   내가 한 패밀리사이트
        #footerRight>.family_site{width: 110px; height: 18px; margin-bottom: 4px; float: right; position: relative; cursor:pointer;}
        #footerRight>.family_site>li{float: left; height: 100%;}
            #footerRight>.family_site>.family_site_box{width: 90px; background-color:#ddd; color:#f06; font-style: italic; font-size:1rem;}
            #footerRight>.family_site>.family_site_btn{width: 20px; background-color:#f06; background-image: url(../img/all/footer/family_site_btn.png); background-position: center center; background-repeat: no-repeat;}

        #footerRight>.family_site_list{width: 110px; background-color: #aaa; position: absolute; margin-top: -40px; margin-left:24px; font-size: 1rem; text-indent: 3px;}
            #footerRight>.family_site_list>li{height: 20px;}
*/

    #footerRight>span{display: block; width: 90px; height: 10px; margin-bottom: 28px; float: right; color:#ddd;}

        #footerRight>.icon{width: 134px; height: 40px; float: right;}
            #footerRight>.icon>li{width: 40px; height: 100%; float: left; margin-right: 7px;}
            #footerRight>.icon>li:last-child{margin: 0;}
            #footerRight>.icon>li>a{background-image: url(../img/all/footer/link_mark.png);}
                #footerRight>.icon>li:nth-child(1)>a{background-position: 0;}
                #footerRight>.icon>li:nth-child(2)>a{background-position: -47px;}
                #footerRight>.icon>li:nth-child(3)>a{background-position: -94px;}
            #footerRight>.icon>li>a:hover{background-image: url(../img/all/footer/link_mark_on.png);}
